__pycache__/
*.py[cod]
*.class

build/
dist/

*.spec.bak

.vscode/
.idea/

.env
.venv/
venv/

Thumbs.db
.DS_Store

# Executáveis gerados
*.exe

# Arquivos do PyInstaller
*.spec

# Pastas de build
build/
dist/

# Cache do Python
__pycache__/
*.pyc